:root {
	/* catppuccin color palette */
	--rosewater: hsl(10, 56, 91);
	--flamingo: hsl(0, 59, 88);
	--mauve: hsl(279, 70, 83);
	--pink: hsl(316, 72, 86);
	--maroon: hsl(349, 60, 77);
	--red: hsl(342, 79, 75);
	--peach: hsl(24, 88, 78);
	--yellow: hsl(41, 88, 84);
	--green: hsl(128, 58, 79);
	--teal: hsl(171, 53, 81);
	--blue: hsl(207, 93, 79);
	--sky: hsl(189, 71, 73);
	--lavender: hsl(238, 100, 89);
	--black0: hsl(251, 33, 9);
	--black1: hsl(251, 19, 12);
	--black2: hsl(240, 20, 15);
	--black3: hsl(249, 18, 22);
	--black4: hsl(254, 12, 36);
	--gray0: hsl(247, 8, 46);
	--gray1: hsl(274, 11, 59);
	--gray2: hsl(285, 10, 75);
	--white: hsl(220, 38, 89);
}
