:root {
	/* Colors */
	--primary-color: #c6c4f7;
	--secondary-color: #ffa800;

	/* Typefaces | hf = headfont */
	--xlarge-hf: 3.75rem; /* 60px */
	--large-hf: 3rem; /* 48px */
	--med-hf: 2.25rem; /* 36px */
	--small-hf: 1.875rem; /* 30px */

	--base-f: 1rem; /* 16px */
	--xbase-f: 1.125rem; /* 18px */
}

html,
body {
	overflow: hidden !important;
}
